# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnp/
.pnp.js

# Vite/React
dist/
.vite/
.vscode/
.DS_Store
*.local

# Testing
coverage/
.vitest/
.jest-cache/
.jest/

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
*.log.*

# OS
Thumbs.db